.SantaForm {
  display: table;
  width: 100%;
}

.SantaForm > * {
  display: table-row;
}

.addRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  display: table-cell;
  text-align: center;
}
.select {
  width: 33%;
}

.inputText {
  width: 80%;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.2em;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0.4em;
  font-family: "WarmSnow", "sans-serif";
  border-bottom: solid 1px white;
  transition: border-color 0.1s ease;
}

.excludeList {
  width: 100%;
}

.inputText:active,
.inputText:focus {
  border-bottom: solid 2px blue;
}
